/* Container Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* QR Code Display */
#qrCode {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    align-item:center;
}

.container {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Form Header */
h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5em;
}

/* Label Styles */
label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

/* Input Fields */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    color: #333;
}

/* Button Styles */
button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
} 


/* Footer Section */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.logo-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 8px;
}

#footerLogo {
    width: 100%;
    height: auto;
}

.footer p {
    font-size: 0.9em;
    color: #666;
    margin: 0;
}
